<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Es anagrama ?</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
   <!--  <link rel='stylesheet' type='text/css' media='screen' href='main.css'> -->
   
</head>
<body>
    <div style="text-align: left; padding-top: 40px;">
        <input type="text" id="array" placeholder="Introducir una palabra:">
        <input type="text" id="buscada" placeholder="palabra buscada">
        <input type="button" id="buscar" value="buscar">
        <div class="resultado">
        </div>
    </div>
    <script src="javascripts/anagrama.js"></script>
</body>
</html>